anthropic
backoff
chromadb
langchain-core
langchain-chroma
langchain-openai
matplotlib
numpy
openai
pandas
pillow
pydantic
pytest
python-dotenv
scikit-learn
streamlit
streamlit-adjustable-columns
together
tqdm
